@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans", sans-serif;
}

@layer utilities {
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .animate-floating {
    animation: floating 2s ease-in-out infinite;
  }
  .delay-1000 {
    animation-delay: 1s;
  }
  .delay-2000 {
    animation-delay: 2s;
  }
}
